@import "nullstyle.scss";

html {
  padding: 30px;
 
}
/*
img {
  margin: 0px 0px 30px 0px;
}

p {
  margin: 0px 0px 30px 0px;
  font-size: 40px;
  
}
a {
  display: block;
  margin: 0px 0px 20px 0px;
}


input {
  border: 1px solid black;
  display: block;
  margin: 0px 0px 30px 0px;
  &:hover {
    background-color:bisque ;
  }

  &:active {
    background-color:cornflowerblue;
  }
}

.test {
  border: 2px solid red;
}

.colored {
  color: red;
}

.strikethrough {
  text-decoration: line-through;
}

.bold {
  font-weight: bold;
}

.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid green; 
}

.text {
  margin: 0px 0px 30px 0px;
}


#txtArea {
  border: 1px solid black;
  
}
*/
input {
  border: 1px solid black;
  display: block;
  margin: 0px 0px 30px 0px;
  font-size: 20px;
  &:hover {
    background-color:bisque ;
  }

  &:active {
    background-color:cornflowerblue;
  }
}

p {
  margin: 0px 0px 30px 0px;
  font-size: 50px;
  
}

.colored {
  color: red;
}
.big {
  font-size: 100px;
}

.text-color{
  text-decoration:aqua;
}

.button {
  margin: 20px;
  width: 150px;
}
/*
.textDecoration {
  text-decoration: line-through;
}

.textWeight{
  font-weight: bold;
}
*/
/*
#elem {
  display: none;
  width: 200px;
  height: 200px;
  border: 1px solid green;
    &.active {
      display: block;
    }
}
*/

// .redBorder {
//   border: 1px solid red;
  
// }

 